<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Munch Munch Burger Time!</h1>
    <p class="lead">Keep log of every delicious burger you can think of, and once you've fired up the grill and devoured that delicious hunk of meat
        mark it off!
    </p>
  </div>
</div>

<ul>
  {{#each burgers}}
  <li>
  	{{burger_name}}
  </li>
  {{/each}}
</ul>