<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Munch Munch Burger Time!</h1>
    <p class="lead">Keep log of every delicious burger you can think of, and once you've fired up the grill and devoured that delicious hunk of meat
        mark it off!
    </p>
  </div>
</div>

<div class="container w-50 mb-4">
  <form class="addBurger">
    <div class="form-group">
      <label for="newBurger">New Burger</label>
      <input class="form-control" id="newBurger" placeholder="A New Burger Approaches!">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<div class="container burger">
  <div class="row">
    
    <div class="col-lg-6">
      <h2>need to devour</h2>
        <ul>
          {{#each burgers}}
            {{#unless devoured}}
          <li>
            {{burger_name}}

            <button class="devour" data-id="{{id}}">
              EAT ME!
            </button>
          </li>
          {{/unless}}
          {{/each}}
        </ul>
    </div>

    <div class="col-lg-6">
      <h2>devoured</h2>
        <ul>
          {{#each burgers}}
            {{#if devoured}}
            <li>
              {{burger_name}}

              <button class="deleteBurger" data-id="{{id}}">
                X
              </button>
            </li>
            {{/if}}
          {{/each}}
        </ul>
    </div>
    
  </div>
</div>